.headersectionmain {
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    width: 100%;
    /* margin: 0 auto; */
    background: linear-gradient(50deg, #623fff49, #5631f9dc);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

.navbarleft, .navbarright {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 100;
    letter-spacing: 0.5px;
    transition: color 0.3s ease, background 0.3s ease;
    padding: 6px 6px;
    border-radius: 8px;
}

.navbarleft:hover {
    color: #000000;
    background: rgba(255, 2, 31, 0.2);
}


.navbarleft {
    position: relative;
    left: 0;
    text-decoration: none;
    color: inherit;
}

.navbarright {
    height: 25px;
    width: 25px;
    position: relative;
    right: 0;
    padding-left: 14px;
    padding-right: 14px;
}

.navbarleft-container {
    display: flex;
    gap: 2.5em;
    align-items: center;
}

.navbarright-container {
    display: flex;
    gap: 0;
    align-items: center;
}

.hamburgerimage {
    display: none;
    height: 30px;
    width: 30px;
    position: relative;
    right: 0;
}

@media screen and (max-width: 870px) {

    .navbarleft-container {
        display: flex;
        gap: 0.5em;
        align-items: center;
    }
    
    .navbarright-container {
        display: flex;
        gap: 0.1em;
        align-items: center;
    }
}


.hamburger {
    display: block;
}

@media screen and (max-width: 560px) {

    .hamburger {
        display: none;
    }

    .hamburgerimage {
        display: block;

    }

    .headersectionmain {
        padding: 5px 10px;
    }

    .navbarright {
        display: flex;
        gap: 0;
        align-items: center;
        padding: 5px 5px;
    }
}


.sugooianimelogo {
    height: 2.5rem;
    width: auto;
    position: relative;
}