

.genre-page-container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #2c2c3c;
  border-radius: 20px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.breadcrumb {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #d6d6ff;
  text-align: left;
}

.breadcrumb span {
  margin-right: 0.5rem;
}

.breadcrumb-current {
  font-weight: bold;
  color: #f5a4c7;
}


.filter-box {
  background-color: #36368164;
  border: 1px solid #3a3a95;
  padding: 1.5rem;
  border-radius: 15px;
  color: #ffffff;
}



.filter-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #9fa2ff;
}


.filter-options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.filter-option {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  background-color: #4b4b61;
  border-radius: 8px;
  color: #f5f5f5;
}

.filter-value {
  margin-left: 0.5rem;
  color: #f5a4c7;
  font-weight: bold;
}

.genre-section {
  margin-top: 2rem;
}

.genre-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #dcaaff;
  text-align: left;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.genre-tag {
  padding: 0.5rem 1rem;
  background-color: #38384d;
  border: 1px solid #5a5a6e;
  border-radius: 12px;
  color: #dcdcdc;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genre-tag:hover {
  background-color: #4f4f65;
  color: #fff;
}

.filter-button-container {
  margin-top: 2rem;
  text-align: center;
}

.filter-button {
  padding: 0.75rem 2rem;
  background-color: #f5a4c7;
  color: #1c1c1c;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  background-color: #d08ca4;
}

.genre-tag.selected {
  background-color: #ffffff;
  color: #ff0000;
  border-color: #000000;
}

.filteredanimecontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}